<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Shortener</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/shorten" method="POST">
        <label for="TxtAcortador">Enter URL to shorten:</label>
        <input type="text" id="TxtAcortador" name="TxtAcortador" required>
        <button type="submit">Shorten</button>
    </form>
    <a href="/Logueo" class="boton">Ingresar</a>
    <a href="/Registro" class="boton">Registrarse</a>
</body>
</html>


