<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logueo</title>
</head>
<body>
    <h1>Logueo</h1>
    <!-- <form action="/shorten" method="POST"> -->
        <label for="TxtUsuario">Usuario:</label>
        <input type="text" id="TxtUsuario" name="UsuarioLogueo" required>
        <label for="TxtContrase単a">Contrase単a:</label>
        <input type="password" id="TxtContrase単a" name="Contrase単aLogueo" required>
        <button type="submit">Ingresar</button>
    </form>
</body>
</html>
